@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
* {
	box-sizing: border-box;
    body{
        margin: 0;
        padding: 0;
        background-color: black;
            h1 {
                padding: 0 30px;
                font-family: 'Racing Sans One';
                font-weight: bold;
                color: #FF1801;
            }
            #calendar {
                display: grid;
				grid-template-columns: 1fr 1fr 1fr;
                .raceInfo{
                    margin: 10px;
                    border-style: solid;
                    border-radius: 10px;
                    background-color: white;
                    h5 {
                        padding: 10px;
                        margin: 0;
                    }
                    h2 {
                        margin:0;
                        padding: 5px 10px;

                    }
                    h3 {
                        margin:0;
                        padding: 5px 10px;

                    }
                }
            }
    }
}

//how to only edit grid but keep everything the same??
@media (max-width: 520px) {
    #calendar {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}